# Duo Universal C# Configuration
# Rename this file to .env on your server

# Duo credentials from Admin Panel
DUO_CLIENT_ID=DIJAYTMEB36S4FIOXI7F
DUO_CLIENT_SECRET=Pp9UJnNA7CQ10wlP2CLyWTHW8n9KH6Xjefa1KQJu
DUO_API_HOST=api-8905b780.duosecurity.com
# Utilisation de l'IP publique directe (Duo nécessite HTTPS)
DUO_REDIRECT_URI=https://localhost:5001/duo_callback

# ASP.NET Core settings
ASPNETCORE_ENVIRONMENT=Production
# IMPORTANT: Utilisez 0.0.0.0 pour être accessible via votre IP publique
ASPNETCORE_URLS=http://0.0.0.0:5000;https://0.0.0.0:5001
