@* SPDX-FileCopyrightText: 2021 Duo Security *@
@* SPDX-License-Identifier: BSD-3-Clause *@

@page "/duo_callback"
@model CallbackModel

<div class="content">
    <div class="logo">
        <a href="/"><img src=~/images/logo.png></a>
    </div>
    <div class="auth-resp">
        <h3><b>Auth Response:</b></h3>
    </div>
    <div class="success">
        <pre class="language.json"><code class="language-json">@Model.AuthResponse</code></pre>
    </div>
</div>
